/*This makes the title called #todo look nice*/
.title {
  font-family: 'Pacifico', cursive;
  font-style: oblique;
  font-size: 48px;
  color: white;
  border: 5px solid white;
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*This makes the my list look nice*/
.todo_header{
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: white;
}
.user_input {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/*This Centers and makes the input screen look clean*/
.input {
  text-align: center;
  width: 400px;
  height: 20px;
  border-radius: 25px;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}

.button_add {
  border-radius: 25px;
  width: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/*Aligns the array elements and styles them */
table {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-top: 22px;
    border-spacing: 10px;
    background-color: white;
    font-family: 'Indie Flower', cursive;
}
.to_do {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  border: 2px solid;
  background-color: white;
  font-size: 25px;
}

/*Other formatting*/
.to_do:hover {
  background-color: lightgrey;
}

.row {
    margin-top: 20px;
    height: 40px;
}

.priority_button {
    width: 40px;
    text-align: center;
    background-color: white;
    border: 2px solid;
}
/*Changes the color of the original button*/
.priority_button:hover {
    background-color: #FEFE01;
}

.complete_button {
    align: left;
    width: 40px;
    text-align: center;
    background-color: white;
    border: 2px solid;
}
/*Changes the color of the original button again*/
.complete_button:hover {
    background-color:#6AFE5A;
}
.remove_button {
    align: left;
    width: 40px;
    text-align: center;
    background-color: white;
    border: 2px solid;
}
.remove_button:hover {
    background-color: #ff4040;
}
body {
  background-color: #B0E1ED;
}
hr {
  width: 90%;
}
